
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.div1{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 520px;
    margin-top: 160px;
}

.titulo{
    color: #091133;
    font-family: Red rose, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    margin-top: 0px;
    margin-bottom: 0%;
}

.texto{
    color: #6f7cb2;
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
    margin-top: 16PX;
    top: 112px;
}

.nav1{
    height: 208px;
    padding-bottom: 86px;
}

.b1{
    color: white;
    font-family: roboto, sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #111b47;
    border-radius: 2px;
    width: 190px;
    height: 36px;
    margin-right: 14.575px;
    margin-left: 56px;
}

.b2{
    color: #091133;
    font-family: roboto, sans-serif;
    font-size: 16px;
    text-align:center;
    background-color: #ffffff;
    border: 3px solid #091133;
    width: 190px;
    height: 36px;
    margin-left: 14.575px;
    margin-right: 54.85px;
}

.nav2{
    width: 520px;
    height: 36px;
    display: flex;
    justify-content: center;
}

.div2{
     margin-top: 100px;
     display: flex;
     margin-left: 98px;
    }

img{
    width: 492px;
}



